@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
    min-width: 100vw;
    /* height: max-content; */
    min-height: 100vh;
    overflow-x: hidden;
}
html{
    background-color: #000;
}

.merriweatherSansFont{
    font-family: 'Merriweather Sans', sans-serif;
}
.glookFont{
    font-family: 'Gloock', serif;
}
.phuduFont{
    font-family: 'Phudu', cursive;
}
.robotoFont{
    font-family: 'Roboto Condensed', sans-serif;        
}